<footer class="site-footer">
  <div class="container footer-row">
    <div class="footer-membership">
      <a href="https://www.cela.org.au/" aria-label="Community Early Learning Australia (CELA)"
        data-goatcounter-click="cela-website"
        data-goatcounter-title="CELA website link">
        <img src="{{ '/assets/img/cela-logo.png' | relative_url }}" alt="Community Early Learning Australia logo">
      </a>
    </div>
    <p class="small footer-meta">
      &copy; {{ 'now' | date: "%Y" }} Bassendean Community Children's Association.
      <a href="mailto:{{ site.email }}"
         data-goatcounter-click="footer-email"
         data-goatcounter-title="Footer email link">{{ site.email }}</a>
      <br><span class="footer-disclaimer">We use privacy-friendly analytics: <a href="https://www.goatcounter.com/"
        data-goatcounter-click="goatcounter-info"
        data-goatcounter-title="Goatcounter information link">Goatcounter</a></span>
    </p>
  </div>
</footer>
